# Data Science Pipeline Tutorial: College Data

### In this tutorial, we want to run through the data science pipeline from collecting data, cleaning and parsing it, performing exploratory data analysis, hypothesis testing, and machine learning.

This tutorial is designed in python, using a custom dataset adapted from the U.S. Department of Education's College Scorecard. To download the full dataset and documentation, visit https://collegescorecard.ed.gov/data/. We will be focusing on data from the Most Recent Data by Field of Study table in order to learn information about different universities' tuitions, racial diversity, and more through the use of the data science pipeline.

## Setup

First, we import the libraries we want to use. We will be using a pandas dataframe to represent and manipulate the data, so we import the pandas library.

In [1]:
import pandas as pd

## Loading and Viewing Data

Next, we extract the data from online by using pandas's read_csv() function and the url we use to access the data. If your data is stored locally, read_csv() also works on the path to the file where your data is stored.

In [2]:
url = 'https://raw.githubusercontent.com/aakayan/320_College_Data_Tutorial/main/data.txt'
df = pd.read_csv(url) # Read the data
df.head() # View the data

,Unnamed: 0,unit_id,inst_name,city,state,zip,accred_inst,inst_url,net_price_calc,sch_deg,...,atnd_cost_acad_yr,attnd_cost_prgm_yr,in_st_tuition,out_st_tuition,tuition_fee_prgm_yr,net_tuition_rev_per_fts,inst_expend_per_fts,avg_fac_salary,full_time_faculty_pct,fed_sch_code
0,0,100654,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,3.0,...,22489.0,NaN,9744.0,18354.0,NaN,7413.0,5384.0,7101.0,0.7411,001002
1,1,100663,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,https://www.uab.edu,https://uab.studentaidcalculator.com/survey.aspx,3.0,...,24347.0,NaN,8568.0,19704.0,NaN,13177.0,16454.0,10717.0,0.7766,001052
2,2,100690,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,3.0,...,17680.0,NaN,6900.0,6900.0,NaN,14273.0,4206.0,4292.0,1.0000,016885
3,3,100706,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,3.0,...,23441.0,NaN,10714.0,22362.0,NaN,8677.0,9242.0,9442.0,0.6544,001055
4,4,100724,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,www.alasu.edu/cost-aid/tuition-costs/net-price...,3.0,...,21476.0,NaN,11068.0,19396.0,NaN,10160.0,8527.0,7754.0,0.5826,001005

This data is now loaded into our dataframe, df. A pandas dataframe is a 2-dimenstional structure that stores data, like a spreadsheet. With dataframes, pandas gives us many ways to interact with our data. This dataframe has each row representing a university, and each column representing one attribute of the university, such as its name, latitude and logitude, website url, and more.

However, it turns out we can't view all of the data. Let's change up some settings in pandas to view all the columns.

In [4]:
pd.options.display.max_columns = None #removes the limit on the maximum columns you can view
df.head() #View the data again

,Unnamed: 0,unit_id,inst_name,city,state,zip,accred_inst,inst_url,net_price_calc,sch_deg,height_cash_monitoring,state_fips,region,locale,urb_level,latitude,longitude,hbcu,pbi,ANNHI,tribal,AANAPII,hisp_serving_inst,NANTI,men_only,women_only,relig_affil,adm_rate,adm_rate_all,sat_vr_25pct,sat_vr_75pct,sat_mt_25pct,sat_mt_75pct,sat_wr_25pct,sat_wr_75pct,sat_vr_mid,sat_mt_mid,sat_wr_mid,act_cm_25pct,act_cm_75pct,act_en_25pct,act_en_75pct,act_mt_25pct,act_mt_75pct,act_wr_25pct,act_wr_75pct,act_cm_mid,act_en_mid,act_mt_mid,act_wr_mid,sat_avg,sat_avg_all,PCIP01,PCIP03,PCIP04,PCIP05,PCIP09,PCIP10,PCIP11,PCIP12,PCIP13,PCIP14,PCIP15,PCIP16,PCIP19,PCIP22,PCIP23,PCIP24,PCIP25,PCIP26,PCIP27,PCIP29,PCIP30,PCIP31,PCIP38,PCIP39,PCIP40,PCIP41,PCIP42,PCIP43,PCIP44,PCIP45,PCIP46,PCIP47,PCIP48,PCIP49,PCIP50,PCIP51,PCIP52,PCIP54,UGDS,white_ugds,black_ugds,hisp_ugds,asian_ugds,AIAN_ugds,NHPI_ugds,birac_ugds,non_res_alien_ugds,unkn_ugds,whiteNH_ugds,blackNH_ugds,title4_stud_pub,title4_stud_priv,atnd_cost_acad_yr,attnd_cost_prgm_yr,in_st_tuition,out_st_tuition,tuition_fee_prgm_yr,net_tuition_rev_per_fts,inst_expend_per_fts,avg_fac_salary,full_time_faculty_pct,fed_sch_code
0,0,100654,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,3.0,0,1,5,12.0,NaN,34.783368,-86.568502,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.8986,0.8986,430.0,520.0,420.0,510.0,370.0,457.0,475.0,465.0,414.0,16.0,19.0,14.0,20.0,15.0,18.0,NaN,NaN,18.0,17.0,17.0,NaN,957.0,957.0,0.0394,0.0237,0.0039,0.0000,0.0000,0.0394,0.0592,0.0,0.0710,0.1183,0.0197,0.000,0.0394,0.0,0.0158,0.0473,0.0,0.0927,0.0059,0.0,0.0000,0.0020,0.0000,0.0000,0.0355,0.0000,0.0631,0.0572,0.0493,0.0355,0.0,0.0,0.0,0.0,0.0237,0.0000,0.1578,0.0000,4990.0,0.0186,0.9120,0.0088,0.0018,0.0022,0.0016,0.0118,0.0070,0.0361,NaN,NaN,592.0,NaN,22489.0,NaN,9744.0,18354.0,NaN,7413.0,5384.0,7101.0,0.7411,001002
1,1,100663,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,https://www.uab.edu,https://uab.studentaidcalculator.com/survey.aspx,3.0,0,1,5,12.0,NaN,33.505697,-86.799345,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.9211,0.9211,490.0,620.0,490.0,620.0,NaN,NaN,555.0,555.0,NaN,21.0,29.0,22.0,31.0,19.0,26.0,NaN,NaN,25.0,27.0,23.0,NaN,1220.0,1220.0,0.0000,0.0000,0.0000,0.0016,0.0375,0.0000,0.0139,0.0,0.0717,0.0813,0.0000,0.004,0.0000,0.0,0.0207,0.0351,0.0,0.0876,0.0112,0.0,0.0000,0.0000,0.0064,0.0000,0.0235,0.0008,0.0602,0.0267,0.0263,0.0315,0.0,0.0,0.0,0.0,0.0339,0.2255,0.1908,0.0100,13186.0,0.5717,0.2553,0.0334,0.0633,0.0034,0.0002,0.0457,0.0213,0.0058,NaN,NaN,1229.0,NaN,24347.0,NaN,8568.0,19704.0,NaN,13177.0,16454.0,10717.0,0.7766,001052
2,2,100690,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,3.0,0,1,5,12.0,NaN,32.362609,-86.174010,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,0.0000,0.000,0.1846,0.0,0.0000,0.0308,0.0,0.0000,0.0000,0.0,0.0000,0.0000,0.0000,0.2154,0.0000,0.0000,0.0000,0.1077,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0000,0.4615,0.0000,351.0,0.2393,0.7151,0.0171,0.0057,0.0057,0.0000,0.0000,0.0000,0.0171,NaN,NaN,NaN,5.0,17680.0,NaN,6900.0,6900.0,NaN,14273.0,4206.0,4292.0,1.0000,016885
3,3,100706,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,3.0,0,1,5,12.0,NaN,34.724557,-86.640449,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.8087,0.8087,560.0,700.0,450.0,680.0,NaN,NaN,630.0,565.0,NaN,25.0,31.0,25.0,34.0,24.0,30.0,NaN,NaN,28.0,30.0,27.0,NaN,1314.0,1314.0,0.0000,0.0000,0.0000,0.0000,0.0194,0.0000,0.0590,0.0,0.0283,0.2892,0.0000,0.017,0.0000,0.0,0.0153,0.0000,0.0,0.0436,0.0153,0.0,0.0008,0.0210,0.0024,0.0000,0.0307,0.0000,0.0202,0.0000,0.0000,0.0242,0.0,0.0,0.0,0.0,0.0380,0.1543,0.2108,0.0105,7458.0,0.7167,0.0969,0.0528,0.0381,0.0095,0.0008,0.0296,0.0223,0.0333,NaN,NaN,585.0,NaN,23441.0,NaN,10714.0,22362.0,NaN,8677.0,9242.0,9442.0,0.6544,001055
4,4,100724,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,www.alasu.edu/cost-aid/tuition-costs/net-price...,3.0,0,1,5,12.0,NaN,32.364317,-86.295677,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.9774,0.9774,440.0,520.0,420.0,510.0,NaN,NaN,480.0,465.0,NaN,16.0,20.0,14.0,20.0,15.0,18.0,NaN,NaN,18.0,17.0,17.0,NaN,972.0,972.0,0.0000,0.0000,0.0000,0.0000,0.0892,0.0000,0.0585,0.0,0.1169,0.0000,0.0000,0.000,0.0000,0.0,0.0123,0.0000,0.0,0.0831,0.0169,0.0,0.0200,0.0108,0.0000,0.0000,0.0231,0.0000,0.0600,0.0938,0.0646,0.0138,0.0,0.0,0.0,0.0,0.0585,0.1677,0.1062,0.0046,3903.0,0.0167,0.9352,0.0095,0.0041,0.0013,0.0005,0.0102,0.0102,0.0123,NaN,NaN,523.0,NaN,21476.0,NaN,11068.0,19396.0,NaN,10160.0,8527.0,7754.0,0.5826,001005

## Missing Data

In this data, you can see that some values in some columns are listed as "NaN". This means that there is missing data for this column from the selected university. There are many ways to deal with missing data, such as trying to fill in reasonable values or simply removing the associated row or column. In order to best determine what to do about missing data, let us first evaluate which columns have the most missing data.

In [14]:
missing_count_df = pd.DataFrame(df.isna().sum(),columns=["Missing Values"]) #creating a new dataframe by summing how many values in each column are missing
missing_count_df[(missing_count_df.T != 0).any()] #switching around rows and columns for easier viewing
missing_count_df.sort_values(by=["Missing Values"], ascending=False).head(40) #viewing the top 40 columns with the most missing data

                       Missing Values
blackNH_ugds                     6806
whiteNH_ugds                     6806
urb_level                        6806
act_wr_75pct                     6481
act_wr_mid                       6481
act_wr_25pct                     6481
sat_wr_25pct                     6074
sat_wr_mid                       6074
sat_wr_75pct                     6074
relig_affil                      5895
act_en_25pct                     5607
act_en_75pct                     5607
act_mt_mid                       5607
act_en_mid                       5607
act_mt_75pct                     5607
act_mt_25pct                     5607
sat_vr_75pct                     5567
sat_vr_25pct                     5567
sat_vr_mid                       5567
sat_mt_mid                       5564
sat_mt_25pct                     5564
sat_mt_75pct                     5564
act_cm_75pct                     5533
act_cm_25pct                     5533
act_cm_mid                       5533
sat_avg                          5508
sat_avg_all                      5380
title4_stud_pub                  4928
adm_rate                         4800
attnd_cost_prgm_yr               4631
adm_rate_all                     4564
tuition_fee_prgm_yr              4445
atnd_cost_acad_yr                3375
out_st_tuition                   3185
full_time_faculty_pct            3183
title4_stud_priv                 3078
in_st_tuition                    2941
avg_fac_salary                   2794
PCIP19                            770
PCIP52                            770

The columns missing the most data are the columns for number of Black, non-hispanic undergraduates, the number of White non-hispanic undergraduates, statistics about mean SAT and ACT section scores, and more.

After reading and looking at the data, we see that 5 columns, namely UG_NRA, UG_UNKN, UG_WHITENH, UG_BLACKNH, UG_API have blank values. Let's start by getting rid of them.

In [6]:
df.drop(['UG_NRA', 'UG_UNKN', 'UG_WHITENH', 'UG_BLACKNH', 'UG_API'], axis=1)
display(df)

,Unnamed: 0,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,SCH_DEG,HCM2,ST_FIPS,REGION,LOCALE,LOCALE2,LATITUDE,LONGITUDE,HBCU,PBI,ANNHI,TRIBAL,AANAPII,HSI,NANTI,MENONLY,WOMENONLY,RELAFFIL,ADM_RATE,ADM_RATE_ALL,SATVR25,SATVR75,SATMT25,SATMT75,SATWR25,SATWR75,SATVRMID,SATMTMID,SATWRMID,ACTCM25,ACTCM75,ACTEN25,ACTEN75,ACTMT25,ACTMT75,ACTWR25,ACTWR75,ACTCMMID,ACTENMID,ACTMTMID,ACTWRMID,SAT_AVG,SAT_AVG_ALL,PCIP01,PCIP03,PCIP04,PCIP05,PCIP09,PCIP10,PCIP11,PCIP12,PCIP13,PCIP14,PCIP15,PCIP16,PCIP19,PCIP22,PCIP23,PCIP24,PCIP25,PCIP26,PCIP27,PCIP29,PCIP30,PCIP31,PCIP38,PCIP39,PCIP40,PCIP41,PCIP42,PCIP43,PCIP44,PCIP45,PCIP46,PCIP47,PCIP48,PCIP49,PCIP50,PCIP51,PCIP52,PCIP54,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,UG_NRA,UG_UNKN,UG_WHITENH,UG_BLACKNH,UG_API,NUM4_PRIV,COSTT4_A,COSTT4_P,TUITIONFEE_IN,TUITIONFEE_OUT,TUITIONFEE_PROG,TUITFTE,INEXPFTE,AVGFACSAL,PFTFAC,FEDSCHCD
0,0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,3.0,0,1,5,12.0,NaN,34.783368,-86.568502,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.8986,0.8986,430.0,520.0,420.0,510.0,370.0,457.0,475.0,465.0,414.0,16.0,19.0,14.0,20.0,15.0,18.0,NaN,NaN,18.0,17.0,17.0,NaN,957.0,957.0,0.0394,0.0237,0.0039,0.0000,0.0000,0.0394,0.0592,0.0,0.0710,0.1183,0.0197,0.000,0.0394,0.0,0.0158,0.0473,0.0,0.0927,0.0059,0.0,0.0000,0.0020,0.0000,0.0000,0.0355,0.0000,0.0631,0.0572,0.0493,0.0355,0.0,0.0,0.0,0.0,0.0237,0.0000,0.1578,0.0000,4990.0,0.0186,0.9120,0.0088,0.0018,0.0022,0.0016,0.0118,0.0070,0.0361,NaN,NaN,NaN,NaN,NaN,NaN,22489.0,NaN,9744.0,18354.0,NaN,7413.0,5384.0,7101.0,0.7411,001002
1,1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,https://www.uab.edu,https://uab.studentaidcalculator.com/survey.aspx,3.0,0,1,5,12.0,NaN,33.505697,-86.799345,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.9211,0.9211,490.0,620.0,490.0,620.0,NaN,NaN,555.0,555.0,NaN,21.0,29.0,22.0,31.0,19.0,26.0,NaN,NaN,25.0,27.0,23.0,NaN,1220.0,1220.0,0.0000,0.0000,0.0000,0.0016,0.0375,0.0000,0.0139,0.0,0.0717,0.0813,0.0000,0.004,0.0000,0.0,0.0207,0.0351,0.0,0.0876,0.0112,0.0,0.0000,0.0000,0.0064,0.0000,0.0235,0.0008,0.0602,0.0267,0.0263,0.0315,0.0,0.0,0.0,0.0,0.0339,0.2255,0.1908,0.0100,13186.0,0.5717,0.2553,0.0334,0.0633,0.0034,0.0002,0.0457,0.0213,0.0058,NaN,NaN,NaN,NaN,NaN,NaN,24347.0,NaN,8568.0,19704.0,NaN,13177.0,16454.0,10717.0,0.7766,001052
2,2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,3.0,0,1,5,12.0,NaN,32.362609,-86.174010,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,0.0000,0.000,0.1846,0.0,0.0000,0.0308,0.0,0.0000,0.0000,0.0,0.0000,0.0000,0.0000,0.2154,0.0000,0.0000,0.0000,0.1077,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0000,0.4615,0.0000,351.0,0.2393,0.7151,0.0171,0.0057,0.0057,0.0000,0.0000,0.0000,0.0171,NaN,NaN,NaN,NaN,NaN,5.0,17680.0,NaN,6900.0,6900.0,NaN,14273.0,4206.0,4292.0,1.0000,016885
3,3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,3.0,0,1,5,12.0,NaN,34.724557,-86.640449,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.8087,0.8087,560.0,700.0,450.0,680.0,NaN,NaN,630.0,565.0,NaN,25.0,31.0,25.0,34.0,24.0,30.0,NaN,NaN,28.0,30.0,27.0,NaN,1314.0,1314.0,0.0000,0.0000,0.0000,0.0000,0.0194,0.0000,0.0590,0.0,0.0283,0.2892,0.0000,0.017,0.0000,0.0,0.0153,0.0000,0.0,0.0436,0.0153,0.0,0.0008,0.0210,0.0024,0.0000,0.0307,0.0000,0.0202,0.0000,0.0000,0.0242,0.0,0.0,0.0,0.0,0.0380,0.1543,0.2108,0.0105,7458.0,0.7167,0.0969,0.0528,0.0381,0.0095,0.0008,0.0296,0.0223,0.0333,NaN,NaN,NaN,NaN,NaN,NaN,23441.0,NaN,10714.0,22362.0,NaN,8677.0,9242.0,9442.0,0.6544,001055
4,4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,www.alasu.edu/cost-aid/tuition-costs/net-price...,3.0,0,1,5,12.0,NaN,32.364317,-86.295677,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.9774,0.9774,440.0,520.0,420.0,510.0,NaN,NaN,480.0,465.0,NaN,16.0,20.0,14.0,20.0,15.0,18.0,NaN,NaN,18.0,17.0,17.0,NaN,972.0,972.0,0.0000,0.0000,0.0000,0.0000,0.0892,0.0000,0.0585,0.0,0.1169,0.0000,0.0000,0.000,0.0000,0.0,0.0123,0.0000,0.0,0.0831,0.0169,0.0,0.0200,0.0108,0.0000,0.0000,0.0231,0.0000,0.0600,0.0938,0.0646,0.0138,0.0,0.0,0.0,0.0,0.0585,0.1677,0.1062,0.0046,3903.0,0.0167,0.9352,0.0095,0.0041,0.0013,0.0005,0.0102,0.0102,0.0123,NaN,NaN,NaN,NaN,NaN,NaN,21476.0,NaN,11068.0,19396.0,NaN,10160.0,8527.0,7754.0,0.5826,001005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6801,6801,48511112,157114,1571,Georgia Military College - Dublin,Dublin,GA,310215149,Southern Association of Colleges and Schools C...,https://www.gmc.edu/index.cms,NaN,NaN,0,13,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6120.0,NaN,NaN,NaN,NaN,NaN,NaN,001571
6802,6802,48511113,157115,1571,Georgia Military College - Eastman,Eastman,GA,310236109,Southern Association of Colleges and Schools C...,https://www.gmc.edu/index.cms,NaN,NaN,0,13,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6120.0,NaN,NaN,NaN,NaN,NaN,NaN,001571
6803,6803,48616901,4204801,42048,American College of Barbering - Florence,Florence,KY,410421801,National Accrediting Commission of Career Arts...,NaN,NaN,NaN,0,21,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13700.0,NaN,NaN,NaN,NaN,042048
6804,6804,49005401,4182601,41826,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,Accrediting Commission of Career Schools and C...,www.hci.edu/,NaN,2.0,0,12,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21420.0,NaN,NaN,NaN,NaN,NaN,NaN,041826
6805,6805,49146401,4227001,42270,ABC Adult School - Cabrillo Lane,Cerritos,CA,907037748,Council on Occupational Education,NaN,NaN,NaN,0,6,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1135.0,NaN,NaN,NaN,NaN,042270