Code we used to pull the data and then set it up to upload onto Github

In [14]:
import pandas as pd

cols = ['UNITID', 'INSTNM', 'CITY', 'STABBR', 'ZIP', 'ACCREDAGENCY', 'INSTURL', 'NPCURL', 'HCM2', 'LATITUDE', 'LONGITUDE', 'HBCU', 'PBI', 'ANNHI', 'TRIBAL', 'AANAPII', 'HSI', 'NANTI', 'MENONLY', 'WOMENONLY', 'ADM_RATE', 'ADM_RATE_ALL', 'SATVR25', 'SATVR75', 'SATMT25', 'SATMT75', 'SATWR25', 'SATWR75', 'SATVRMID', 'SATMTMID', 'SATWRMID', 'ACTCM25', 'ACTCM75', 'ACTEN25', 'ACTEN75', 'ACTMT25', 'ACTMT75', 'ACTWR25', 'ACTWR75', 'ACTCMMID', 'ACTENMID', 'ACTMTMID', 'ACTWRMID', 'SAT_AVG', 'SAT_AVG_ALL', 'UGDS', 'UGDS_WHITE', 'UGDS_BLACK', 'UGDS_HISP', 'UGDS_ASIAN', 'UGDS_AIAN', 'UGDS_NHPI', 'UGDS_2MOR', 'UGDS_NRA', 'UGDS_UNKN', 'UGDS_WHITENH', 'UGDS_BLACKNH', 'NUM4_PUB', 'NUM4_PRIV', 'COSTT4_A', 'COSTT4_P', 'TUITIONFEE_IN', 'TUITIONFEE_OUT', 'TUITIONFEE_PROG', 'TUITFTE', 'INEXPFTE', 'AVGFACSAL', 'PFTFAC']


rename = ['unit_id', 'inst_name', 'city', 'state', 'zip', 'accred_inst', 'inst_url', 'net_price_calc', 'height_cash_monitoring', 'latitude', 'longitude', 'hbcu', 'pbi', 'ANNHI', 'tribal', 'AANAPII', 'hisp_serving_inst', 'NANTI', 'men_only', 'women_only', 'adm_rate', 'adm_rate_all', 'sat_vr_25pct', 'sat_vr_75pct', 'sat_mt_25pct', 'sat_mt_75pct', 'sat_wr_25pct', 'sat_wr_75pct', 'sat_vr_mid', 'sat_mt_mid', 'sat_wr_mid', 'act_cm_25pct', 'act_cm_75pct', 'act_en_25pct', 'act_en_75pct', 'act_mt_25pct', 'act_mt_75pct', 'act_wr_25pct', 'act_wr_75pct', 'act_cm_mid', 'act_en_mid', 'act_mt_mid', 'act_wr_mid', 'sat_avg', 'sat_avg_all', 'UGDS', 'white_ugds', 'black_ugds', 'hisp_ugds', 'asian_ugds', 'AIAN_ugds', 'NHPI_ugds', 'birac_ugds',  'non_res_alien_ugds', 'unkn_ugds', 'whiteNH_ugds', 'blackNH_ugds', 'title4_stud_pub', 'title4_stud_priv', 'atnd_cost_acad_yr', 'attnd_cost_prgm_yr', 'in_st_tuition', 'out_st_tuition', 'tuition_fee_prgm_yr', 'net_tuition_rev_per_fts', 'inst_expend_per_fts', 'avg_fac_salary', 'full_time_faculty_pct']


df = pd.read_csv('C:/Users/kazia/Desktop/Raw Data Files/Most-Recent-Cohorts-All-Data-Elements.csv', usecols=cols)
df.columns = rename
df.to_csv('C:/Users/kazia/Desktop/cmsc320/320_College_Data_Tutorial/data.txt')
display(df)

C:\Users\kazia\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,unit_id,inst_name,city,state,zip,accred_inst,inst_url,net_price_calc,sch_deg,height_cash_monitoring,...,atnd_cost_acad_yr,attnd_cost_prgm_yr,in_st_tuition,out_st_tuition,tuition_fee_prgm_yr,net_tuition_rev_per_fts,inst_expend_per_fts,avg_fac_salary,full_time_faculty_pct,fed_sch_code
0,100654,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,3.0,0,...,22489.0,NaN,9744.0,18354.0,NaN,7413.0,5384.0,7101.0,0.7411,001002
1,100663,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,https://www.uab.edu,https://uab.studentaidcalculator.com/survey.aspx,3.0,0,...,24347.0,NaN,8568.0,19704.0,NaN,13177.0,16454.0,10717.0,0.7766,001052
2,100690,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,3.0,0,...,17680.0,NaN,6900.0,6900.0,NaN,14273.0,4206.0,4292.0,1.0000,016885
3,100706,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,3.0,0,...,23441.0,NaN,10714.0,22362.0,NaN,8677.0,9242.0,9442.0,0.6544,001055
4,100724,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,www.alasu.edu/cost-aid/tuition-costs/net-price...,3.0,0,...,21476.0,NaN,11068.0,19396.0,NaN,10160.0,8527.0,7754.0,0.5826,001005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6801,48511112,Georgia Military College - Dublin,Dublin,GA,310215149,Southern Association of Colleges and Schools C...,https://www.gmc.edu/index.cms,NaN,NaN,0,...,NaN,NaN,6120.0,NaN,NaN,NaN,NaN,NaN,NaN,001571
6802,48511113,Georgia Military College - Eastman,Eastman,GA,310236109,Southern Association of Colleges and Schools C...,https://www.gmc.edu/index.cms,NaN,NaN,0,...,NaN,NaN,6120.0,NaN,NaN,NaN,NaN,NaN,NaN,001571
6803,48616901,American College of Barbering - Florence,Florence,KY,410421801,National Accrediting Commission of Career Arts...,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,13700.0,NaN,NaN,NaN,NaN,042048
6804,49005401,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,Accrediting Commission of Career Schools and C...,www.hci.edu/,NaN,2.0,0,...,NaN,NaN,21420.0,NaN,NaN,NaN,NaN,NaN,NaN,041826
6805,49146401,ABC Adult School - Cabrillo Lane,Cerritos,CA,907037748,Council on Occupational Education,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,1135.0,NaN,NaN,NaN,NaN,042270